<!--create navbar-->
<div class="navbar-light">
  <nav class="navbar navbar-light">
      <div class="container-fluid">
          <h2 style="
        align-self: center;
        color: #fff;
        margin-left: 26px;
        margin-top: 7px;
      ">Angular  Assigments
          </h2>
          <div style="position: absolute; right: 3em">
            
                      <div class="">
                          <button class="fa fa-lock btn btn-secondary" type="button" routerLink="/login">Logout</button>
                      </div>
                
              </div>
          </div>
     
  </nav>
</div>