<input type="checkbox" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner top"></div>
        <div class="spinner middle"></div>
        <div class="spinner bottom"></div>
    </label>
<div id="sidebarMenu">
    <ul class="menu">
        <li><a href="registration">Registration</a></li>
        <li>
            <a href="driverRegistration">Driver-Registration</a>
        </li>
        <!-- <li><a href="#">About US</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li> -->
    </ul>
</div>
